@model UserProducingVm
@{
    ViewData["Title"] = "Pedido " + Model.Order.Code;
    string stepName = Model.OrderProductStep.ProductProductionStep.ProductionStep.Code + " - " +
                                    Model.OrderProductStep.ProductProductionStep.ProductionStep.Description;

    int mediumTimeDisplay = (Model.OrderProductStep.ProductProductionStep.ProductionTimeInSeconds +
                                    Model.OrderProductStep.ProductProductionStep.MaximumProductionTimeInSeconds) / 2;


    string producedOrderQuantityDisplay = Model.OrderProductStep.ProducedQuantity.ToString("000");
    string producedQuantityDisplay = Model.UserProductionHistory.ProducedQuantity.ToString("000");

    string statusDisplay = Model.UserProductionHistory.Status ? "Produzindo" : "Parado";
}
<div class="container-fluid row pe-0">
    <div class="row mt-lg pe-0">
        <div class="col-lg-8 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-header py-2 text-center">
                    <label class="control-label fs-4">Datalhamento Ordem</label>
                </div>
                <hr class="m-0" />
                <div class="card-body d-flex flex-column pt-2">
                    <div class="form-group row pe-0">
                        <div class="col-xl-4 pe-0">
                            <label asp-for="@Model.Order.Code" class="control-label fs-6"></label>
                        </div>
                        <div class="col-xl-6">
                            <input type="text" asp-for="@Model.Order.Code" class="form-control fs-6" disabled />
                        </div>
                    </div>
                    <div class="form-group row pe-0">
                        <div class="col-xl-4 pe-0">
                            <label asp-for="@Model.Product.Name" class="control-label fs-6"></label>
                        </div>
                        <div class="col-xl-6">
                            <input asp-for="@Model.Product.Name" class="form-control fs-6" disabled />
                        </div>
                    </div>
                    <div class="form-group row pe-0">
                        <div class="col-xl-4 pe-0">
                            <label asp-for="OrderProductStep.ProductProductionStep.ProductionStep.Name" class="control-label fs-6"></label>
                        </div>
                        <div class="col-xl-6">
                            <input asp-for="@stepName" class="form-control fs-6" disabled />
                        </div>
                    </div>
                    <div class="form-group row pe-0">
                        <div class="col-xl-4 pe-0">
                            <label class="control-label fs-6">Qtd. Total ordem</label>
                        </div>
                        <div class="col-xl-6">
                            <input type="text" asp-for="OrderProductStep.InitialQuantity" class="form-control fs-6" disabled />
                        </div>
                    </div>
                    <div class="form-group row pe-0">
                        <div class="col-xl-4 pe-0">
                            <label asp-for="UserProductionHistory.ProducedQuantity" class="control-label fs-6"></label>
                        </div>
                        <div class="col-xl-6">
                            <input type="text" asp-for="@producedOrderQuantityDisplay" class="form-control fs-6" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 pe-0">
            <div class="card h-100">
                <div class="card-header py-2 text-center">
                    <label class="control-label fs-4">Status Usuário</label>
                </div>
                <hr class="m-0" />
                <div class="card-body d-flex flex-column pt-2">
                    <div class="form-group row pe-0">
                        <div class="col-xl-6 pe-0">
                            <label class="control-label fs-6">Status</label>
                        </div>
                        <div class="col-xl-6">
                            <input type="text" asp-for="@statusDisplay" class="form-control fs-6" disabled />
                        </div>
                    </div>
                    <div class="form-group row pe-0">
                        <div class="col-xl-6 pe-0">
                            <label class="control-label fs-6">Tempo Médio</label>
                        </div>
                        <div class="col-xl-6">
                            <input type="text" asp-for="@mediumTimeDisplay" class="form-control fs-6" disabled />
                        </div>
                    </div>
                    <div class="form-group row pe-0">
                        <div class="col-xl-6 pe-0">
                            <label class="control-label fs-6">Qtd.</label>
                        </div>
                        <div class="col-xl-6">
                            <input type="text" asp-for="@producedQuantityDisplay" class="form-control fs-6" disabled />
                        </div>
                    </div>
                </div>
                <hr class="" />
                <div class="card-footer d-flex justify-content-between py-1 align-items-lg-end">
                    <form method="post" asp-action="SubtractQuantity">
                        <input type="hidden" asp-for="DbUserId" />
                        <input type="hidden" asp-for="ProductionOrderId" />
                        <input type="hidden" asp-for="ProductionOrderCode" />
                        <input type="hidden" asp-for="ProductionStepId" />
                        <input type="submit" value="Subtrair" class="btn btn-primary" style="background-color: darkred" />
                    </form>
                    @if ((Model.OrderProductStep.ProducedQuantity + Model.OrderProductStep.LostQuantity) >= Model.UserProductionHistory.ProducedQuantity)
                    {


                        <form method="post" asp-action="SumQuantity">
                            <input type="hidden" asp-for="DbUserId" />
                            <input type="hidden" asp-for="ProductionOrderId" />
                            <input type="hidden" asp-for="ProductionOrderCode" />
                            <input type="hidden" asp-for="ProductionStepId" />
                            @if (Model.MeasuringHistories.Any())
                            {
                                <button type="button"
                                        style="background-color: darkgreen"
                                        class="btn btn-primary w-80 m-3"
                                        data-toggle="modal"
                                        data-target="#dimensionsToRecordMeasure"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top">
                                    Adicionar*
                                </button>
                            }
                            else
                            {
                                <input type="submit" value="Adicionar" class="btn btn-primary" style="background-color: darkgreen" />
                            }
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-0 pe-0">
        <div class="col-lg-12 col-md-6 mb-4 pe-0">
            <div class="card">
                <div class="container-fluid d-flex flex-wrap align-items-center px-0">
                    <div class="col-xl-3 col-sm-6 text-center">
                        <a class="btn btn-primary w-80 m-3"
                           asp-action="RegisterLost"
                           asp-route-id="@Model.UserProductionHistory.Id">Registrar peça perdida</a>
                    </div>
                    <div class="col-xl-3 col-sm-6 text-center">
                        <input type="submit" value="Fim de Op" class="btn btn-primary w-80 m-3" />
                    </div>
                    <div class="col-xl-3 col-sm-6 text-center">
                        <a class="btn btn-primary w-80 m-3"
                           asp-action="EndProduction"
                           asp-route-id="@Model.UserProductionHistory.Id">Trocar Turno</a>
                    </div>
                    <div class="col-xl-3 col-sm-6 text-center">
                        <button type="button"
                                class="btn btn-primary w-80 m-3"
                                data-toggle="modal"
                                data-target="#dimensionsToCheck"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top">
                            Cotas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_DimensionsToCheckPartial" model="@Model.DimensionsToCheck" />
    <partial name="_DimensionsToRecordMeasurePartial" model="@Model" />
</div>