<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMPSystem</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/css/soft-ui-dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/overview/datatableUtil.css" />

    @RenderSection("Css", required: false)
</head>
<body class="g-sidenav-show  bg-gray-200">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-white" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a href="#">
                <img src="~/img/Blue_S_Monogram_Tech_Logo.png" class="navbar-brand-img h-100" height="50" alt="main_logo">
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        @if (Context.User.Identity.IsAuthenticated)
        {
            <partial name="_AuthenticateMenu" />
        }
    </aside>

    <main class="main-content position-relative max-height-vh-100 h-100 vh-100 border-radius-lg">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl my-3 bg-white" id="navbarBlur" navbar-scroll="true">

            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-3 text-dark" href="~/Web/">
                                <i class="fas fa-home fa-sm"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-5 text-dark" href="javascript:;">Login</a>
                        </li>
                    </ol>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    </div>
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-flex align-items-center">
                            @if (Context.User.Identity.IsAuthenticated)
                            {
                                <a asp-area="Identity" asp-page="/Account/Manage/Index"
                                   class="nav-link text-body font-weight-bold px-0">
                                    <i class="fa fa-user-edit me-sm-1"></i>
                                    <span class="d-sm-inline d-none">@User.Identity.Name</span>
                                    <span class="d-sm-inline d-none">Teste</span>

                                </a>
                                <a asp-area="Identity" asp-page="/Account/Logout"
                                   class="nav-link text-body font-weight-bold pox-0">
                                    <i class="fas fa-sign-out-alt me-sm-1"></i>
                                    <span class="d-sm-inline d-none">Sair</span>

                                </a>
                            }
                            else
                            {
                                <a asp-area="Identity" asp-page="/Account/Login"
                                   class="nav-link text-body font-weight-bold px-0">
                                    <i class="fa fa-user me-sm-1"></i>
                                    <span class="d-sm-inline d-none">Sign In</span>
                                </a>
                            }
                        </li>
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="divMain">
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--   Core JS Files   -->
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/js/plugins/chartjs.min.js"></script>
    <script src="~/js/plugins/choices.min.js"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }

        $(document).ready(function () {
            //var valueToDiscount = $('#navbarBlur').height()
            //var value = $('#teste').height()

            //console.log('Nav: ', valueToDiscount)
            //console.log('Elements height: ', value)

            //$('#teste').height(value - valueToDiscount)
            //$('#teste').removeClass('min-vh-100')

            //var newValue = $('#teste').height()
            //console.log('New value: ', newValue)
        });
    </script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="~/js/soft-ui-dashboard.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
