@model IEnumerable<ProductStepDimension>
<div class="modal fade" id="dimensionsToCheck" tabindex="-1" role="dialog" aria-labelledby="dimensionsToCheck" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-2">
            <div class="modal-header row py-0">
                <h5 class="modal-title text-uppercase w-80" id="staticBackdropLabel">Cotas para monitorar</h5>
                <button type="button" class="btn btn-close text-danger p-0" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-2x"></i>
                </button>
                <br/>
                <small>@string.Concat(Model.First().ProductionStep.Code, " - ", Model.First().ProductionStep.Description)</small>
            </div>
            <div class="modal-body">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <h7 class="px-2 font-weight-bold">
                            @MeasuringDimensionType.TypeNameDescription(item.MeasuringDimensionType)
                        </h7>
                        <div class="row p-0 ms-2">
                            <div class="col-xl-5 ps-0">
                                <small>Instrumento:</small>
                            </div>
                            <div class="col-xl-6">
                                <small>@MeasuringToolType.TypeNameDescription(item.MeasuringToolType)</small><br />
                            </div>
                        </div>
                        <div class="row p-0 ms-2">
                            <div class="col-xl-5 ps-0">
                                <small>Cota:</small>
                            </div>
                            <div class="col-xl-6">
                                <small>@item.MinimalValue - @item.MaximaumValue</small><br />
                            </div>
                        </div>
                        <div class="row p-0 ms-2">
                            <div class="col-xl-5 ps-0">
                                <small>Frequência quantidade:</small>
                            </div>
                            <div class="col-xl-6">
                                <small>@item.FrequencyToMeasureInQuantity</small><br />
                            </div>
                        </div>
                        <div class="row p-0 ms-2">
                            <div class="col-xl-5 ps-0">
                                <small>Frequência minutos:</small>
                            </div>
                            <div class="col-xl-6">
                                <small>@item.FrequencyToMeasureInMinutes</small><br />
                            </div>
                        </div>
                        <hr class="my-2" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>